<nav>
  <a routerLink="/home">
    <div class="logo">
      <img
        src="https://png.pngtree.com/png-clipart/20220903/ourmid/pngtree-chef-hat-and-cooking-logo-png-image_6136205.png"
        alt="logo"
      />
      <span>Foodfly</span>
    </div>
  </a>
  <div class="nav-links">
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/catalog">Catalog</a>

    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/create">Create Recipe</a>
      <a routerLink="/profile">My Profile</a>
      <p class="nav-user">Welcome, Chef {{ username }}</p>
      <a href="#" (click)="logout()">Logout</a>
    </ng-container> 

  
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-container> 
  </div>
  <!-- <Search /> -->
</nav>
<app-loader *ngIf="loading"></app-loader>
