.container{
    margin:80px
}
.container .main_div{
    width: 365px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    margin: 50px;
  }
  .container .main_div .title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70vh; 
  }
  form {
    margin-top: 25px;
  }
  form .input_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 15px;
  }
  .input_box input{
    height: 100%;
    width: 90%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  
  .input_box textarea{
    height: 100%;
    width: 90%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .input_box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .input_box input:focus{
    border-color:  #f4d340;
  }

  .input_box .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: grey;
  }
  form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .option_div .check_box{
    display: flex;
    align-items: center;
  }
  .option_div span{
    margin-left: 5px;
    font-size: 16px;
    color: #333;
  }
  .option_div .forget_div a{
    font-size: 16px;
    color:  #f4d340;
  }
  .custom-button-container {
    display: flex;
    justify-content: center;
  }
  
  .custom-button {
    background-color: #f4d340;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 18px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .custom-button:hover {
    background-color: #ffca28;
    transform: translateY(-2px);
  }
  
  form .sign_up{
    text-align: center;
    margin-top: 25px;
  }
  .sign_up a{
    color: #ddc02e;
  }
  form a, button{
    text-decoration: none;
  }
  form a,button:hover{
    text-decoration: underline;
  }