.footer {
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: #f8f8f8;
    color: #333;
    padding: 6px;
    text-align: center;
    position: absolute; 
    width: 98.5%;
    font-size: 14px;
    font-style: italic;
    margin-top: auto;
}
